// Flexbox.
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-button {
  display: flex;
  align-items: center;
  padding: 10px;
}

.flexlarge {
  flex: 2;
}

.flex-dropped {
  background-color: lightcoral;
}

// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}