// Flexbox.

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexrow,
.flexcol {
  &.no-wrap {
    flex-wrap: nowrap;
  }

  .min-width {
    min-width: 80px;
  }

  .item-row {
    flex-shrink: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
  }
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}
