// Grid.
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

// Grid offset.
.grid-start-2 {
  grid-column-start: 2
}

.grid-start-3 {
  grid-column-start: 3
}

.grid-start-4 {
  grid-column-start: 4
}

.grid-start-5 {
  grid-column-start: 5
}

.grid-start-6 {
  grid-column-start: 6
}

.grid-start-7 {
  grid-column-start: 7
}

.grid-start-8 {
  grid-column-start: 8
}

.grid-start-9 {
  grid-column-start: 9
}

.grid-start-10 {
  grid-column-start: 10
}

.grid-start-11 {
  grid-column-start: 11
}

.grid-start-12 {
  grid-column-start: 12
}

.grid-span-2 {
  grid-column-end: span 2
}

.grid-span-3 {
  grid-column-end: span 3
}

.grid-span-4 {
  grid-column-end: span 4
}

.grid-span-5 {
  grid-column-end: span 5
}

.grid-span-6 {
  grid-column-end: span 6
}

.grid-span-7 {
  grid-column-end: span 7
}

.grid-span-8 {
  grid-column-end: span 8
}

.grid-span-9 {
  grid-column-end: span 9
}

.grid-span-10 {
  grid-column-end: span 10
}

.grid-span-11 {
  grid-column-end: span 11
}

.grid-span-12 {
  grid-column-end: span 12
}

// Character Header
#character-header-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  align-self: start;
}

#knave-logo {
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(37, 170, 133, 0.5);
}

#character-info {
  grid-area: 1 / 3 / 2 / 6;
  background-color: rgba(102, 243, 251, 0.5);
}

#character-body-grid {
	display: grid;
	grid-auto-rows: repeat(2, 1fr);
	grid-template-columns: auto 120px 235px;
	gap: 0;
	width: 100%;
	height: 100%;
}
#character-abilities {
	grid-area: 1 / 1 / 4 / 2;
	background-color: rgba(247,145,49, 0.5);
  min-width: 215px;
}
#character-armor {
	grid-area: 1/2/2/3;
	background-color: rgba(93,157,158, 0.5);
}
#character-level {
	grid-area: 1/3/2/4;
	background-color: rgba(100,190,239, 0.5);
}
#character-health {
	grid-area: 2 / 2 / 4 / 3;
	background-color: rgba(126,74,91, 0.5);
}
#character-portrait {
	grid-area: 2 / 3 / 4 / 4;
	background-color: rgba(233,125,98, 0.5);
}

// Item Header Grid
#item-header-grid {  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

#item-img { 
  grid-area: 1 / 1 / 2 / 2; 
  background-color: rgba(93,157,158, 0.5);
}

#item-info { 
  grid-area: 1 / 2 / 2 / 3; 
  background-color: rgba(233,125,98, 0.5);
}

// Item Body Grid
#item-body-grid {  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;

  #item-aside { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: rgba(170, 67, 156, 0.5);
    width: 300px;
  }

  #item-description { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: rgba(81, 127, 170, 0.5);
  }
  
}


// Item Sheet Grid

// Item Sheet Header
.item-header-grid {  
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.item-header-img { grid-area: 1 / 1 / 2 / 2; }

.item-info-grid {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1 / 2 / 2 / 3;
}

.item-header-info { grid-area: 2 / 1 / 3 / 2; }

.item-header-name { grid-area: 1 / 1 / 2 / 2; }

// Item Sheet Body
.item-body-grid {  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.item-body-aside { 
  grid-area: 1 / 1 / 2 / 2; 
  padding-right: 10px;

  .separator {
    border-bottom: 1px solid lightgrey;
  }
}

.item-body-description {
  min-width: 350px;
  grid-area: 1 / 2 / 2 / 3; 
}



.progress-.container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  gap: 0px 0px; 
}

.progress-container#horizontal {
  width: 100%;
  min-width: 150px;
  height: 50px;
  margin: 2px;
  border: 2px solid black;

  .progress-bar, .progress-fill, .progress-input {
    height: 100%;
    position: relative;
  }

  .progress-fill, .progress-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .progress-fill{
    background-color: var(--color-border-highlight);
  }

  .progress-input {
    background-color: #ffffff00;
    border-color: #ffffff00;
    border: none;
    text-align: center;
  }
}

.progress-container#vertical {
  width: 50px;
  height: 150px;
  margin: 2px;
  border: 2px solid black;

  .progress-bar, .progress-fill, .progress-input {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .progress-fill{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-border-highlight);
    transform:rotate(180deg);
  }

  .progress-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff00;
    border-color: #ffffff00;
    border: none;
    text-align: center;
  }
}

