// Grid.
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

// Grid offset.
.grid-start-2 { grid-column-start: 2 }
.grid-start-3 { grid-column-start: 3 }
.grid-start-4 { grid-column-start: 4 }
.grid-start-5 { grid-column-start: 5 }
.grid-start-6 { grid-column-start: 6 }
.grid-start-7 { grid-column-start: 7 }
.grid-start-8 { grid-column-start: 8 }
.grid-start-9 { grid-column-start: 9 }
.grid-start-10 { grid-column-start: 10 }
.grid-start-11 { grid-column-start: 11 }
.grid-start-12 { grid-column-start: 12 }

.grid-span-2 { grid-column-end: span 2 }
.grid-span-3 { grid-column-end: span 3 }
.grid-span-4 { grid-column-end: span 4 }
.grid-span-5 { grid-column-end: span 5 }
.grid-span-6 { grid-column-end: span 6 }
.grid-span-7 { grid-column-end: span 7 }
.grid-span-8 { grid-column-end: span 8 }
.grid-span-9 { grid-column-end: span 9 }
.grid-span-10 { grid-column-end: span 10 }
.grid-span-11 { grid-column-end: span 11 }
.grid-span-12 { grid-column-end: span 12 }

// actor-character-sheet.hbs
#character-grid {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(5, 1fr);
	gap: 0px;
	width: 100%;
	height: 100%;
}
#knave-logo {
	grid-area: 1 / 1 / 2 / 3;
	background-color: rgba(37,170,133, 0.5);
}
#character-info {
	grid-area: 1 / 3 / 2 / 6;
	background-color: rgba(102,243,251, 0.5);
}
#character-abilities {
	grid-area: 2 / 1 / 5 / 3;
	background-color: rgba(244,232,20, 0.5);
}
#character-health {
	grid-area: 3 / 3 / 5 / 3;
	background-color: rgba(62,108,25, 0.5);
}
#character-armor {
	grid-area: 2/3/3/4;
	background-color: rgba(174,46,22, 0.5);
}
#character-level {
	grid-area: 2 / 4 / 3 / 6;
	background-color: rgba(126,111,32, 0.5);
}
#character-portrait {
	grid-area: 3 / 4 / 5 / 6;
	background-color: rgba(75,6,137, 0.5);
}
#character-slots {
	grid-area: 5 / 1 / 8 / 6;
	background-color: rgba(147,211,19, 0.5);
  align-self: start;
}