// Grid.
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px;
  margin: 2px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

// Grid offset.
.grid-start-2 {
  grid-column-start: 2
}

.grid-start-3 {
  grid-column-start: 3
}

.grid-start-4 {
  grid-column-start: 4
}

.grid-start-5 {
  grid-column-start: 5
}

.grid-start-6 {
  grid-column-start: 6
}

.grid-start-7 {
  grid-column-start: 7
}

.grid-start-8 {
  grid-column-start: 8
}

.grid-start-9 {
  grid-column-start: 9
}

.grid-start-10 {
  grid-column-start: 10
}

.grid-start-11 {
  grid-column-start: 11
}

.grid-start-12 {
  grid-column-start: 12
}

.grid-span-2 {
  grid-column-end: span 2
}

.grid-span-3 {
  grid-column-end: span 3
}

.grid-span-4 {
  grid-column-end: span 4
}

.grid-span-5 {
  grid-column-end: span 5
}

.grid-span-6 {
  grid-column-end: span 6
}

.grid-span-7 {
  grid-column-end: span 7
}

.grid-span-8 {
  grid-column-end: span 8
}

.grid-span-9 {
  grid-column-end: span 9
}

.grid-span-10 {
  grid-column-end: span 10
}

.grid-span-11 {
  grid-column-end: span 11
}

.grid-span-12 {
  grid-column-end: span 12
}

.grid-slot {

  >* {
    display: grid;
  }
}

.character-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content) auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%;
  height: 100%;

  .header {
    display: grid;
    grid-template-columns: max-content max-content auto auto auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;

    .logo {
      grid-area: 1 / 1 / 2 / 3;

      img {
        place-content: center;
        min-width: 180px;
        max-width: 250px;
      }
    }

    .info {
      grid-area: 1 / 3 / 2 / 6;
    }
  }

  .sheet-tabs {
    grid-area: 2 / 1 / 3 / 2;
  }

  .sheet-body {
    grid-area: 3 / 1 / 4 / 2;

    .tab.character.active {
      display: grid;
      grid-template-columns: min-content max-content min-content;
      grid-template-rows: auto auto;
      grid-auto-columns: 1fr;
      gap: 0px 5px;
      grid-auto-flow: row;
      justify-content: center;

      .abilities {
        grid-area: 1 / 1 / 3 / 2;

        .ability {
          margin-left: 5px;
        }
      }

      .armor {
        grid-area: 1 / 2 / 2 / 3;
      }

      .health {
        grid-area: 2 / 2 / 3 / 3;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        gap: 0px 0px;

        .health-max {
          grid-area: 1 / 1 / 2 / 3;
        }

        .health-value {
          grid-area: 2 / 1 / 3 / 3;
        }

        .health-rest {
          grid-area: 3 / 1 / 4 / 3;
        }
      }

      .advancement {
        grid-area: 1 / 3 / 2 / 4;
      }

      .portrait {
        grid-area: 2 / 3 / 3 / 4;
        place-items: center;

        img {
          // padding: 5px;
          max-width: 256px;
          max-height: 256px;
          object-fit: scale-down;
        }
      }
    }

  }

  footer.footer {
    display: grid;
    padding-bottom: 0;
    align-self: end;
    grid-area: 4 / 1 / 5 / 2;
  }

}

.npc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content auto;
  gap: 0px 0px;
  grid-auto-flow: row;

  .header {
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: minmax(80px, 200px) auto auto;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;

    .image {
      grid-area: 1 / 1 / 2 / 2;
    }

    .info {
      grid-area: 1 / 2 / 2 / 4;
    }
  }

  .sheet-body {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    gap: 0px 0px;
    grid-auto-flow: row;

    .resources {
      grid-area: 1 / 1 / 2 / 2;
      min-height: 10px;
    }

    .items {
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  .footer {
    grid-area: 3 / 1 / 4 / 4;
  }
}

// Item Header Grid
.item-header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.item-img {
  grid-area: 1 / 1 / 2 / 2;

}

.item-info {
  grid-area: 1 / 2 / 2 / 3;

}

// Item Body Grid
.item-body-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;

  .item-aside {
    grid-area: 1 / 1 / 2 / 2;

    width: 300px;
  }

  .item-description {
    grid-area: 1 / 2 / 2 / 3;

  }

}

// Item Sheet Header
.item-header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.item-header-img {
  grid-area: 1 / 1 / 2 / 2;
}

.item-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1 / 2 / 2 / 3;
}

.item-header-info {
  grid-area: 2 / 1 / 3 / 2;
}

.item-header-name {
  grid-area: 1 / 1 / 2 / 2;
}

// Item Sheet Body
.item-body-grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.item-body-aside {
  grid-area: 1 / 1 / 2 / 2;
  padding-right: 10px;
  margin-top: 10px;

  .separator {
    border-bottom: 1px solid lightgrey;
  }
}

.item-body-description {
  min-width: 350px;
  grid-area: 1 / 2 / 2 / 3;
}



.progress-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;

  &.vertical {
    width: 50px;
    max-width: 50px;
    min-height: 175px;
    border: 2px solid black;

    .progress-bar,
    .progress-fill,
    .progress-input {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .progress-fill {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);

      &.hitPoints {
        background-color: #7cd000;
      }

      &.wounds {
        background-color: #659db5;
      }
    }

    .progress-input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff00;
      border-color: #ffffff00;
      border: none;
      text-align: center;
    }
  }

  &.horizontal {
    min-width: 150px;
    height: 50px;
    margin: 2px;
    border: 2px solid black;

    &.hitPoints {
      width: 90%;
      min-width: 100px;
      max-width: none;
    }

    .progress-bar,
    .progress-fill,
    .progress-input {
      height: 100%;
      min-height: 46px;
      position: relative;
    }

    .progress-fill,
    .progress-input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .progress-fill {
      background-color: var(--color-border-highlight);

      &.hitPoints {
        background-color: #7cd000;
      }

      &.wounds {
        background-color: #659db5;
      }
    }

    .progress-input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff00;
      border-color: #ffffff00;
      border: none;
      text-align: center;
    }
  }
}