.window-app {

  p {
     font-family: "Roboto", sans-serif;
  }

  &.actor {

    form {
      div,
      section,
      input,
      button,
      footer {
        font-family: $font-sheet-title;
      }

      .detail {
        font-family: $font-sheet-content;
      }
    }
  }
}

// Chat Message CSS
.chat-message .message-header .message-sender {
  font-family: $font-sheet-title;
  font-size: normal;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}