.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .logo-img {
    border-color:rgba(255, 255, 255, 0);
    margin-right: 20px;
    height: 96px;
    min-width: 180px;
  }

  .header-fields {
    flex: 1;
    align-items: flex-end;

    #logo-container {
      max-width: 250px;
    }
    
    #dotted {
      margin: 0 5px;
      border-bottom: 2px dotted black;
      align-content: flex-end;
    }
  }
}

input.transparent {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

input.ability-circle {
  border-radius: 50%;
  height: 50px;
  max-width: 50px;
  margin: 5px;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}