// Section Header
.items-header {
  height: 28px;
  padding: 2px;
  align-items: center;
  border-bottom: 2px solid black;
  font-weight: bold;

  .item-name-header,
  .item-slots-header {
    font-size: 14px;
    
  }

  .item-name-header {
    padding-left: 5px;
    text-align: left;
  }

  .item-slots-header {
    text-align: center;
  }

  .item-controls-header {
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.items-list {
  display: grid;
  list-style: none;
  padding: 2px;
  overflow: hidden;
  scrollbar-width: thin;
  color: $c-tan;
  border: 2px solid black;
  border-radius: 5px;

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;

    a {
      font-size: 14px;
      text-align: center;
      margin: 0 6px;
    }
  }

  button.list-roll {
    max-width: max-content;
    padding: 0px 5px;
    font-size: smaller;
  }

  button.item-monster-roll {
    max-width: max-content;
    padding: 0px 5px;
    font-size: smaller;
  }

  // Individual Item
  .item {
    display: grid;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 2px dotted black;
    max-height: 40px;

    &:last-child {
      border-bottom: none;
    }

    .item-image {
      border: none;
      margin-right: 5px;
      justify-content: center;
      align-items: center;

      a {
        justify-content: center;
        align-items: center;

        img {
          justify-content: center;
          align-items: center;
        }
      }
    }


    .item-name {
      justify-content: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $c-dark;
      font-size: large;
    }

    .item-buttons {
      justify-content: right;
      padding-bottom: 4px; // Manual adjustment to account for nested flexrow

      .item-button {
        background: rgba(255, 255, 255, 0);
        border: 2px solid black;
        border-radius: 10%;
        align-items: center;
      }
    }
  }

  .item-prop {
    text-align: center;
    font-size: 14px;
  }
}