.resource-label {
  font-weight: bold;
}

.small {
  font-weight: normal;
  font-size: small;
}

.detail {
  font-size: x-small;
  font-weight: lighter;
  font-style: italic;
}

#circle-resource {
  display: inline-flex;
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: space-around;
}

#shield-resource {
  display: inline-flex;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  align-items: center;
  justify-content: space-around;
}

progress#xp {
  margin-top: 5%;
  min-width: 100px;
  height: 25px;
  accent-color: yellow;
}

progress#hp {
  width: 100%;
  height: 100%;
  accent-color: red;
}

.bar-container {
  background-color: white;
  width: 50px;
  height: 320px;
}

.bar-container-horizontal {
  @extend .bar-container;
  width: 25px;
  height: 200px;
}

.bar-container-vertical {
  @extend .bar-container;
  width: 25px;
  height: 200px;
}

.bar {
  background-color: #9BC9C7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  //border-top: 6px solid #FFF;
  box-sizing: border-box;
}

.bar-horizontal {
  @extend .bar;
}

.bar-vertical {
  @extend .bar;
  width: 50%;
}

.bar#hp {
  background-color: red;
}