<form class="{{cssClass}}" autocomplete="off">
    <section class="sheet-header">
        <p>Header</p>
    </section>

    <section class="sheet-body">
        {{editor description target="system.description" button=false}}
    </section>
</form>